<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Monster Killer Game
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" />
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script defer src="js/scripts.js"></script>
  </head>
  <body>
    <div id="app">

      <!-- Painel de vidas -->
      <div class="panel scores">
        <div class="score">
          <h1>Jogador</h1>
          <div class="life-bar">
            <div class="life danger" style="width: 20%;"></div>
          </div>
          <div>15%</div>
        </div>
        <div class="score">
          <h1>Monstro</h1>
          <div class="life-bar">
            <div class="life" style="width: 30%;"></div>
          </div>
          <div>30%</div>
        </div>
      </div>

      <!-- Painel com resultado -->
      <div class="panel result" v-if="gameOver">
        <div class="win" v-if="won">Você ganhou!!! :)</div>
        <div class="lose" v-else>Você perdeu! :(</div>
      </div>

      <!-- Painel de menu -->
      <div class="panel buttons">
        <template v-if="!gameStopped">
          <button class="btn attack" @click="attack()">Ataque</button>
          <button class="btn especial-attack" @click="attack(true)">Ataque Especial</button>
          <button class="btn heal" @click="heal">Curar</button>
          <button class="btn give-up" @click="giveup">Desistir</button>
        </template>
        <button class="btn new-game" v-else @click="start">Iniciar Jogo</button>
      </div>

      <!-- Painel de logs -->
      <div class="panel logs">
        <ul>
          <li class="log player">Jogador atingiu Monstro com 5</li>
          <li class="log monster">Monstro atingiu jJogador com 6</li>
          <li class="log player">Jogador atingiu Monstro com 7</li>
          <li class="log monster">Monstro atingiu jJogador com 4</li>
          <li class="log player">Jogador ganhou força de 3</li>
          <li class="log monster">Monstro atingiu jJogador com 9</li>
        </ul>
      </div>
    </div>
  </body>
</html>
